<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <div class="errors">
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="users">
            <form action="/signup" method="POST">
                {% csrf_token %}
                <input type="hidden" name="access" value="login" />
                <div class="inputs">
                    <label for="email">Email: </label>
                    <input type="text" name="email" />
                </div>
                <div class="inputs">
                    <label for="password">Password: </label>
                    <input type="password" name="password" />
                </div>
                <input class="submit" type="submit" value="login" />
            </form>
        </div>
        <a href="{% url 'user_signup' %}">Need to Sign Up?</a>
    </div>
</body>
</html>